@import './nav.css';
@import './main-aside.css';

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');


* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --bl-d: #388BEB;
    --blck-d: #080a0f;
    --w-d: #fff;
    --l-d: #f27f00;
    --b-d: 0.2px;
    --pastel-c: #6A84a9;
    --marg-d: 15px;
}


body {

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,170,230,1) 0%, rgba(0,167,215,1) 40%, rgba(0,113,215,1) 100%);
}


#container {
    display: flex;
    width: 100%;
    max-width: 1080px;
    /* margin: 150px 0 0 0 */
    margin: 12px auto;
    border-radius: 10.1px;
    overflow-y: none;
    height: 600px;
    background: #fff;
    flex-direction: column;
    
}
