@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');


* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --bl-d: #388BEB;
    --blck-d: #080a0f;
    --w-d: #fff;

}


body {

    background: var(--bl-d);
}


#container {
    display: flex;
    width: 100%;
    max-width: 1080px;
    /* margin: 150px 0 0 0 */
    margin: 12px auto;
    border-radius: 10.1px;
    overflow-y: none;
    height: 600px;
    background: #fff;
    
}

.nav-in {
    display: flex;
    position: relative;
    width: 90%;
    height: 50px;
    border-radius: 10.1px;
    background: rgb(51, 44, 46);
    align-items: center;
    justify-content: center;
    
}


.nav-in ul {

    list-style: none;
    display: flex;
    height: 50px;
    z-index: 1;
}


.nav-in ul li a {

    text-decoration: none;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-family: 'JetBrains Mono', monospace;
    font-size: 12.1px;
}

.nav-in .nav-list i {

    color: var(--w-d);
}

.nav-in .nav-list a {
    color: var(--w-d);
}

.nav-in ul li a .ic {

    position: relative;
    display: block;
    line-height: 58px;
    text-align: center;
}


.nav-in ul li:hover a .ic {

    transform: translateY(-25px);
}